main 					{
	padding-top:40px;

}

table {
    table-layout: fixed;
}

.finger {
	cursor: pointer;
}


/* HEADER
===================== */
header .navbar 		{
	border-radius:0;
}

.not-found-pisang {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 10px;
  width: 25%;
}

.not-found-text {
	margin-top: 100px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
	height: 100%;
	width: auto;
  padding: 5px;
	margin-left: 15px;
}

.col-xs-6 {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 10px;
	height: 50%;
	width: 50%;
}


/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}

/* NEWTON'S CRADDLE LOADING*/
.craddle {
  left: 50%;
  margin: auto -50px;
  position: absolute;
  top: 50%;
}

.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
	background: #00cc99
}
.shadow {
  clear: left;
  padding-top: 1.5em;
}
.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background: #e3dbd2;
}
.shadow .shadow-l {
  background: #d5d8d6;
}
.shadow .shadow-r {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
  -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
  -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}
