<div class="page-header">
	<h3>Results for "{{torrent.query}}"</h3>
</div>

<ul class="nav nav-tabs">
	<li><a href="#home" data-toggle="tab">Video</a></li>
	<li><a href="#home" data-toggle="tab">Audio</a></li>
	<li><a href="#home" data-toggle="tab">Ebook</a></li>
	<li><a href="#home" data-toggle="tab">Other</a></li>
</ul>

<div class="jumbotron text-center" ng-show="torrent.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Torrents...</p>
</div>

<table class="table table-striped table-hover" ng-show="torrent.torrents">
	<thead>
		<tr>
			<th>Title</th>
			<th>Size</th>
			<th>Seeders/Leechers</th>
			<th>Added</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="warez in torrent.torrents.data">
			<td>{{ warez.title }}</td>
			<td>{{ warez.size }} MB</td>
			<td>{{ warez.swarm.seeders }} / {{ warez.swarm.seeders }}</td>
			<td>{{ warez.imported | filter:'medium'}}</td>
			<td><a href="/torrent/{{warez._id}}" class="btn btn-primary">Download</a></td>
		</tr>
	</tbody>
</table>
