<header ng-controller="searchCtrl as search">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" ng-href="/"><img src="assets/images/siamang_logo_small.png"></a>
	    </div>
	  	<form class="navbar-form navbar-left" role="search">
	    	<div class="form-group">
	    		<input type="text" class="form-control" placeholder="Search" ng-model="search.torrentname">
					<a href='/torrentsearch/{{search.torrentname}}' type="button" class="btn btn-default">Go</a>
	    	</div>
			</form>
		</div>
	</nav>
</header>

<div class="loading" ng-show="torrent.processing">
	<span aria-busy="true" aria-label="Loading" role="progressbar" class="craddle">
	  <div class="swing">
	    <div class="swing-l"></div>
	    <div></div>
	    <div></div>
	    <div></div>
	    <div></div>
	    <div></div>
	    <div class="swing-r"></div>
	  </div>
	  <div class="shadow">
	    <div class="shadow-l"></div>
	    <div></div>
	    <div></div>
	    <div></div>
	    <div></div>
	    <div></div>
	    <div class="shadow-r"></div>
	  </div>
	</span>
</div>

<div class ="results" ng-show="!torrent.processing">
	<div class="page-header">
		<h1>
			Metadata
		</h1>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
			{{torrent.torrentData.data.title}}
		</div>
	  <div class="panel-body">
			InfoHash: {{torrent.torrentData.data._id }}<br>
			Size		:	{{torrent.torrentData.data.size | Filesize }}<br>
			Files		: <br>
			<div ng-repeat="warez in torrent.torrentData.data.files">
				<ul style="list-style-type:disc">
					<li>{{warez}}</li>
				</ul>
			</div>
	  </div>
	</div>

	<a href="magnet:?xt=urn:btih:{{torrent.torrentData.data._id}}&dn={{torrent.torrentData.data.title}}" class="btn btn-primary" alt="download torrent" title="download torrent">
			Download
	</a>
</div>
